.bg-purple , .btn-purple  {
    background-color: blueviolet;
}
.flaot-left{
    float: left;
    
    position: relative;
    width: 80%;
}
.flaot-right{
    display: inline; 
    float: right; 
    position:relative; 
    width: 15%;
}
.container {
    max-width: 80%;
}
.mID {
    font-weight: bold;
    font-size: 0.9em;
}
.mtxt {
  
    text-align: left;
    max-block-size: 200px;
    display: block;
}
.sub {
    font-size: .25em;
}
.list-group{
    max-height: 300px;
    min-height: 75px;
    background-color: white;
    margin-bottom: 10px;
    overflow-y:scroll;

}
.mdate {
    font-size: .6em;
    color: gray;
}
